@charset "UTF-8";



/* index */
#index {
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	background-position:top center;
	background-size:cover;
	background-repeat:no-repeat;
}



/* enter */
#enter {width:100%;}

#enter h1 {
	width:56%;
	margin:0 auto;
}


@media screen and (min-width:1024px) {
	#enter {width:1024px;}

	#enter h1 {
		width:391px;
		margin:0 auto;
	}
}



/* official_btn */
.official_btn {
	width:64%;
	margin:8px auto 0;
	padding:2px;
	font-size:117%;
	background:url("../images/index/official_btn_top_bg.svg") left top / 1px 1px repeat-x,
						url("../images/index/official_btn_side_bg.svg") left top / 1px 100% no-repeat,
						url("../images/index/official_btn_side_bg.svg") right top / 1px 100% no-repeat,
						url("../images/index/official_btn_bottom_bg.svg") left bottom / 1px 1px repeat-x;
	box-sizing:border-box;
}

.official_btn a {
	padding:14px 0;
	color:#1A1A1A;
	text-align:center;
	background:linear-gradient(to top, #946F00, #FFEABF);
}

.official_btn a:hover {opacity:1;}

.official_btn a span {transition:all 0.3s ease-in-out;}
.official_btn a:hover span {opacity:0.3;}


@media screen and (min-width:1024px) {
	.official_btn {
		width:400px;
		margin:24px auto 0;
		font-size:117%;
		font-weight:700;
	}
}



/* prime_btn */
.prime_btn {
	width:64%;
	margin:1px auto 0;
	padding:1px;
	font-size:117%;
	border:1px solid #0080FF;
	box-sizing:border-box;
}

.prime_btn a {
	padding:14px 0;
	text-align:center;
	background:#0080FF;
}

.prime_btn a:hover {opacity:1;}

.prime_btn a span {transition:all 0.3s ease-in-out;}
.prime_btn a:hover span {opacity:0.3;}


@media screen and (min-width:1024px) {
	.prime_btn {
		width:400px;
		margin:8px auto 0;
		font-size:117%;
	}
}


